.headbar {
  display: flex;
  background-size: cover;
  height: fit-content;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 10%;
}

.logo {
  height: 75px;
  width: 75px;
}

.pfp {
  height: 50px;
  width: 50px;
  margin: 5px;
  border: #ccc solid 2px;
}

.avatar_preview {
  height: 100px;
  width: 100px;
  border: ridge #ccc 2px;
}

.pick-me.profile {
  width: fit-content;
  height: fit-content;
}

.title {
  height: max-content;
  width: max-content;
  margin: 5px;
}

.signin-window {
  border: solid 2px #4faa92;
  display: grid;
  justify-content: center;
  font-size: large;
  position: relative;
  top: 40%;
  padding: 5px;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #213049;
  color: #e3f2ee;
}

.forgot,
.link-up {
  color: #b5afb3;
}

.mt-2 {
  width: 200px;
  height: 25px;
  margin: 2px;
}

.input-field {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.padder {
  margin: 3px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.finish {
    margin-top: 4px;
    position: relative;
    margin-left: 2px;
}

.aboutMe {
  width: 90%;
  height: 150px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 2px;
}

.text {
  margin: 5px;

}

.imgSubmit {
  margin-right:2px;
}

.container {
  display: inline-flex;
  grid-template-columns: max-content;
  border: black solid 2px;
  width: -webkit-fill-available;
  overflow-y: visible;
  margin-bottom: 2px;
}

.links {
  width: 300px;
  margin: 5px;
}