.headbar {
  display: flex;
  background-size: cover;
  height: 85px;
  width: -webkit-fill-available;
  align-items: center;
  background-color: #144b56;
  margin-bottom: 10vh;
}

.identity {
  display: flex;
  background-color: #96aace;
  width: 350px;
  height: 80px;
  align-items: flex-end;
  position: relative;

}

.name {
  font-size: x-large;
  text-decoration: underline;
  margin-bottom: 0px;
}

.logo {
  height: 75px;
  width: 75px;
  margin-right: 5px;
  margin-bottom: 2.5px;
  margin-left: 2.5px;
}

.pfp {
  height: 50px;
  width: 50px;
  margin: 5px;
  border: #ccc solid 2px;
}

.avatar_preview {
  height: 100px;
  width: 100px;
  border: ridge #ccc 2px;
}

.pick-me.profile {
  width: fit-content;
  height: fit-content;
}

.title {
  height: max-content;
  width: max-content;
  margin: 5px;
}

.signin-window {
  border: solid 2px #4faa92;
  display: grid;
  justify-items: center;
  font-size: large;
  position: relative;
  padding: 5px;
  min-width: 400px;
  width: 25%;
  justify-self: center;
}

main {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: grid;
}
body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  background-color: #213049;
  color: #e3f2ee;
  margin: 0px;
}

.organ {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: inline-grid;
}

.forgot,
.link-up {
  color: #b5afb3;
}

.gibspace {
  display: grid;
  justify-items: center;
  margin: 0.5vh;
}
.mt-2 {
  width: 200px;
  height: 25px;
  margin: 2px;
}

.input-field {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.padder {
  margin: 3px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.finish {
    margin-top: 4px;
    position: relative;
    margin-left: 2px;
}

.aboutMe {
  width: 90%;
  height: 150px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 2px;
}

.text {
  margin: 5px;

}

.imgSubmit {
  margin-right:2px;
}

.container {
  display: inline-flex;
  grid-template-columns: max-content;
  border: black solid 2px;
  width: -webkit-fill-available;
  overflow-y: visible;
  margin-bottom: 2px;
}

.links {
  width: 300px;
  margin: 5px;
}