.headbar {
  display: flex;
  background-size: cover;
  height: 85px;
  width: -webkit-fill-available;
  align-items: center;
  background-color: #144b56;
  margin-bottom: 0.5vh;
  position: relative;
  justify-content: space-between;
}

.identity {
  display: flex;
  background-color: #4c6ca4;
  width: 350px;
  height: 80px;
  align-items: flex-end;
  position: relative;
}

.navigate {
  display: flex;
  width: max-content;
  color: #ccc;
  background-color: #213049;
  justify-content: center;
  border: #4faa92 solid 2px;
  padding: 4px;
}

.name {
  font-size: larger;
  text-decoration: underline;
  margin-bottom: 0px;
  color: inherit;
}

.logo {
  height: 75px;
  width: 75px;
  margin-right: 5px;
  margin-bottom: 2.5px;
  margin-left: 2.5px;
}

.pfp {
  height: 45px;
  width: 45px;
  margin: 5px;
  border: #ccc solid 2px;
}

.avatar_preview {
  height: 100px;
  width: 100px;
  border: ridge #ccc 2px;
}

.pick-me.profile {
  width: fit-content;
  height: fit-content;
}

.title {
  height: max-content;
  width: max-content;
  margin: 5px;
}

.signin-window {
  border: solid 2px #4faa92;
  display: grid;
  justify-items: center;
  font-size: large;
  position: relative;
  padding: 5px;
  min-width: 400px;
  width: 25%;
  justify-self: center;
}

main {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: grid;
  justify-items: center;
}
body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  background-color: #213049;
  color: #e3f2ee;
  margin: 0px;
}

.organ {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: inline-grid;
}

.forgot,
.link-up {
  color: #b5afb3;
  margin: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.gibspace {
  display: grid;
  justify-items: center;
  margin: 0.5vh;
}
.mt-2 {
  width: 200px;
  height: 25px;
  margin: 2px;
}

.input-field {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.padder {
  margin: 3px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.finish {
    margin-top: 4px;
    position: relative;
    margin-left: 2px;
}

.aboutMe {
  width: 90%;
  min-height: 5vh;
  height: auto;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 2px;
  overflow: auto;
  padding: 2px;
}

.text {
  margin: 5px;

}

.imgSubmit {
  margin-right:2px;
}

.container {
  display: inline-flex;
  grid-template-columns: max-content;
  border: black solid 2px;
  width: -webkit-fill-available;
  overflow-y: visible;
  margin-bottom: 2px;
}

.links {
  width: 300px;
  margin: 5px;
}

.post {
  border: solid 2px #4faa92;
  padding: 5px;
  width: 80vh;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.public {
  display: block;
}

.semi {
  display: block;
}

.private {
  display: block;
}

.mfposts {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.mfsemi {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.mfprivate {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.groupeOfButtons {
  width: 22.8vh;
}

.buttonPublic {
  background: #4faa92; 
  border-color: #4faa92;
  border-style: double;
  color: #e3f2ee;
  margin-right: 1%;
  width: 80px;
  height: 20px;
}

.buttonSemi {
  background: #4faa92; 
  border-color: #4faa92;
  border-style: double;
  color: #e3f2ee;
  margin-right: 1%;
  width: 80px;
  height: 20px;
}

.buttonPrivate {
  background: #4faa92; 
  border-color: #4faa92;
  border-style: double;
  color: #e3f2ee;
  width: 80px;
  height: 20px;
}

.buttonComment {
  background: #4faa92; 
  border-color: #4faa92;
  border-style: none;
  color: #e3f2ee;
  margin-left: 85%;
  width: 15%;
  height: 20px;
}

.postDate {
  text-align: right;
  font-size: 13px;
  float: right;
}

.postUser {
  text-align: left;
  font-size: 15px;
  width: fit-content;
}

.postTitle {
  font-size: 20px;
}

.postContent {
  font-size: 15px;
}

.yourGroups {
  display: grid;
  width: 150px;
  padding: 5px;
}

.group {
  margin-bottom: 1vh;
  background-color: #4c6ca4;
  min-height: 10vh;
  width: 40vh;
  height: max-content;
}

.commenting {
  border: dotted 1px #4faa92;
  padding: 5px;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.commentDate {
  text-align: right;
  font-size: 12px;
  float: right;
}

.commentUser {
  text-align: left;
  font-size: 15px;
}

.commentTitle {
  font-size: 15px;
}

.commentContent {
  font-size: 15px;
}

.logout {
  border: solid #4faa92;
  background-color: #4c6ca4;
  width: max-content;
  height: -webkit-fill-available; 
  display: flex;
  align-items: center;
  position: relative;
}

.tinyavatar {
  display: flex;
  align-items: center;
  min-width: 100px;
  width: max-content;
  height: 50px;
  justify-content: center;
  background-color: #213049;
  border: #4faa92 solid 2px;
}

.notification {
  width: 16px;
  height: 16px;
  background:red;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  line-height:20px;
  vertical-align:middle;
  text-align:center;
  color:white;
  }

.Profile {
  display: grid;
  justify-items: center;
  border: #4faa92 solid 2px;
  width: 50vh;
}

.folow {
  border: solid 2px #4faa92;
  width: 25vh;
  height: max-content;
  display: grid;
  margin: 1vh;
  margin-top: 0;
  padding: 2px;
}

.layouter {
  display: flex;

}

.list-up {
  margin: 1px;
}

.dropdown {
  margin-left: 2px;
  border-radius: 2px;
  border: 0px solid #ccc;
  margin-left: 2px;
}

.postContentCreation {
  width: 90%;
  max-width: 800px;
  height: 150px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 2px;
  background-color: #f8f8f8;
  resize: none;
  margin: 2px;
}
.titleCreation {
  height: 15px;
  width: fit-content;
  margin-left: 2px;
  border-radius: 2px;
  border: 0px solid #ccc;
}

.postCreationButton {
  border-radius: 2px;
  border: 0px solid #ccc;
  margin-left: 2px;
}

.groupmaker {
  display: grid;
  justify-items: center;
  width: 50vh;
  min-height: max-content;
}

.postti {
  border: #4faa92 solid 2px;
  width: max-content;
  height: max-content;
  min-width: 30vh;
  min-height: 15vh;
  margin-bottom: 2vh;
  display: grid;
  justify-items: center;
}

.poster {
  display: flex;
  justify-items: center;
}

.contents {
  margin: 1vh;
  font-size: large;
}